.tweet {
    border-bottom: 1px solid rgb(230, 236, 240);

    &:hover {
        background-color: rgb(245, 248, 250);
    }

    &__inner {
        display: flex;
        padding: 10px 15px 10px 15px;
    }

    &__avatar {
        margin-right: 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu,
            'Helvetica Neue', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.3125;
        color: rgb(20, 23, 26);
    }

    &__image {
        overflow: hidden;
        margin-top: 0.75rem;
        height: 16rem;
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

        img {
            width: 100%;
            object-fit: cover;
            object-position: bottom;
            height: 16rem;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 425px;
        margin-top: 10px;
    }

    &-button {
        display: flex;
        align-items: center;

        &__count {
            color: rgb(101, 119, 134);
            font-weight: 400;
            font-size: 13px;
        }
    }
}
