.tweet-box {
    &__inner {
        display: flex;
        padding: 10px 15px 10px 15px;
    }

    &__avatar {
        margin-right: 10px;
    }

    &__body {
        flex-grow: 1;
    }

    &__control {
        display: flex;
        padding: 10px 0 10px 0;

        textarea {
            outline: none;
            border: none;
            background: transparent;
            width: 100%;
            padding: 0;

            resize: none;

            color: rgb(20, 23, 26);
            font-weight: 400;
            font-size: 19px;

            &::placeholder {
                color: #657786;
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div {
            margin-top: 10px;
        }
    }

    &__icon-button {
        padding: 8.25px !important;
        font-size: 15px !important;
        color: rgba(29, 161, 242, 1) !important;

        &:hover {
            background-color: rgba(29, 161, 242, 0.1) !important;
        }
    }

    &__svg-icon {
        width: 1.5em !important;
        height: 1.5em !important;
        font-size: 15px !important;
    }
}

.upload-options {
    display: flex;
    align-items: center;
    margin-left: -10px;
}
