html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

#twitter {
    height: 100%;
    display: grid;
    grid-template-columns: 26.5% 1fr;
}

.main {
    display: flex;
}

.btn-icon {
    color: rgba(29, 161, 242, 1);
    transition: background-color 0.2s;

    &:hover {
        background-color: rgba(29, 161, 242, 0.1);
        color: rgba(29, 161, 242, 1);
    }
}
