html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

#twitter {
    height: 100%;
    display: grid;
    grid-template-columns: 26.5% 1fr;
}

.main {
    display: flex;
}
