html,
body,
#root {
    min-height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

#twitter {
    display: flex;
    min-height: 100%;
}

.main {
    display: flex;
    flex-grow: 1;

    &__container {
        @media (min-width: 576px) {
        }

        @media (min-width: 768px) {
            width: 600px;
        }

        @media (min-width: 992px) {
            width: 920px;
        }

        @media (min-width: 1200px) {
            width: 990px;
        }

        @media (min-width: 1400px) {
        }
    }
}

.btn-icon {
    color: rgba(29, 161, 242, 1);
    transition: background-color 0.2s;

    &:hover {
        background-color: rgba(29, 161, 242, 0.1);
        color: rgba(29, 161, 242, 1);
    }
}
